html, body{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comic Neue', cursive;
}

main{
    width: 50%;
    height: 70%;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.pictures{
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
}

.pic{
    width: 50%;
}

